.ordersContainer{
    border-bottom: 1px solid rgb(206, 212, 218);
}

.ordersContent{
    border-bottom: 1px solid rgb(206, 212, 218);
    margin-left: 1rem;

}
.pending {
    color: rgb(236, 162, 23); /* Cor para estado Pendente */
  }
  
  .received {
    color: green; /* Cor para estado Pago */
  }
  
  .overdue {
    color: rgb(236, 62, 62); /* Cor para estado Cobrança vencida */
  }
  
  .confirmed {
    color: #5454c5; /* Cor para estado Cobrança confirmada */
  }
  
  .unknown {
    color: gray; /* Cor para estado Desconhecido */
  }
  
  