.boletoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;

}


.boletoContainer__buttonContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    /* border: 3px double #333; Cor sólida e espessura de 3px com borda dupla */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombras para efeito de profundidade */

    border-radius: 8px;
    /* Bordas arredondadas */

    width: 80vw;
    height: auto;

    margin-top: 2rem;

    padding: 1rem;
    margin-bottom: 2rem;

}

.boletoContainer__button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #05070A;
    color: white;
    padding: 1rem;
    width: 30vw;
    border: 0;
    margin-top: 2rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
    font-weight: 600;
}

.boletoContainer__span {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 2rem;
    font-family: Poppins, arial, sans-serif;
    color: rgb(114, 114, 114);
}

.boletoContainer__img {
    width: 15vw;
}

.boletoContainer__texts {
    display: flex;
    flex-direction: column;
}

.totalQuantity{
    display: flex;
    flex-direction: row;
    gap: 2rem;

}
.valueContainer{
    display: flex;
    gap: 1rem;
}


.boletoContainer{
    font-size: 2rem;
    font-family: Poppins, arial, sans-serif;
    color: rgb(114, 114, 114);
}


.TotalAmountContainer{
    border: 1px solid #ccc;
    /* border: 3px double #333; Cor sólida e espessura de 3px com borda dupla */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80vw;
    height: auto;
    border-radius: 8px;
    /* Bordas arredondadas */
    margin-top: 2rem;

    padding: 1rem;
    margin-bottom: 2rem;

}
.value{
    color: #05070A;
}


.boletoContainer__card{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    border: 1px solid #ccc;
    /* border: 3px double #333; Cor sólida e espessura de 3px com borda dupla */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80vw;
    height: auto;
    border-radius: 8px;
    /* Bordas arredondadas */
    margin-top: 2rem;

    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    
    
}
.boletoContainer__size{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
.boletoContainer__quantity{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
.boletoContainer__text{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    .boletoContainer__buttonContainer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .boletoContainer__button {
        width: 10vw;
    }
}