.myLinks a {
  color: inherit;
  text-decoration: none;
  font-family: Montserrat, arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.myLinks {
  margin-top: 1rem;
}

.FilterModal {
  display: block;
  position: fixed;
  z-index: 99999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.FilterModalContent {
  position: absolute;
  background-color: #fefefe;

  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  z-index: 7;

}

.FiltercartClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.FilterClose:hover,
.FilterClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .DesktopFilter {
    display: none;
  }
  .ProductsDesktopContainer {
   color: #888;
    display: none;
    
  }
  .TabletContainerProducts{
    display: none;
  }
 
  .ProductsDesktopContainer{
    margin-left: -5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  .img{
    width: 30vw;
  }

  .DestopCustomPagination{
    position: absolute;
    bottom: -45rem;
    margin-left: 3rem;

  }

  .repeat{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
 

}
@media (min-width: 700px) {
  .MobileFilter {
    display: none;
  }
  .ProductsMobileContainer {
    display: none;
  }
  .FilterContainer{
    display: none;
  }
  .TabletContainerProducts{
    display: none;
  }
  .DesktopContainerProducts{
    display: none;

  }
  
}

.Filter {
  display: flex;
  flex-direction: column;
}
.DesktopContainerProducts {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 800px) and (orientation: portrait) {
  .DesktopFilter{
    margin-top: 5rem;
    margin-left: -3rem;
  }
  .TabletContainerProducts {
    display: block;
    grid-template-columns: repeat(2, 1fr);
  }
  .DesktopContainerProducts{
    display: none;
  }
  .DestopCustomPagination{
    display: none;
  }

}


.FilterClose{
  margin-top: 2rem;
}
