.myLinks a {
  color: inherit;
  text-decoration: none;
  font-family: Montserrat, arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.myLinks {
  margin-top: 1rem;
}

.FilterModal {
  display: block;
  position: fixed;
  z-index: 99999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.FilterModalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 7;
}

.FiltercartClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.FilterClose:hover,
.FilterClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .DesktopFilter {
    display: none;
  }
  .ProductsDesktopContainer {
    display: none;
  }
}
@media (min-width: 700px) {
  .MobileFilter {
    display: none;
  }
  .ProductsMobileContainer {
    display: none;
  }
  .FilterContainer{
    display: none;
  }
}

.Filter {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) and (orientation: portrait) {
 
}


