

.categories{
    display: none;
}

@media (max-width: 600px) {
    .categories{
        display: block;
        margin-top: 20rem;
    }
    
  }

.hide-on-large{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
