*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 699px) {
    .footerContainer{
        display: none;
    }
    
}

@media screen and (min-width: 700px) {
    .footerContainer{
        background-color: #f2f1ef;
        height: 40vh;
        display: flex;
        justify-content: space-around;

        align-items: center; /* Centraliza os itens verticalmente */

    }
    
    .footer__ul{
        display: flex;
        justify-content: space-around;
       list-style: none;
       gap: 2rem;
    }
    .imgFooter{
        width: 2rem;
    }
    .footerH3{
        color:#4d4d4d;
        font-family: 'poppins', sans-serif;
        font-weight: 500;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    
}