* {
  margin: 0;
  padding: 0;
}
.footer__li a {
  text-decoration: none;
  color: white;
}
.footerContainer {
  background-color: #05070a;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.footerContainer__div{
    margin-top: 2rem;
 
}
.footer__ul {
    display: flex;
    flex-direction: column;
  justify-content: space-around;
  max-width: fit-content;
  list-style: none;
  gap: 2rem;
}
.footer__p {
  color: #d3d3d3;
}
.imgFooter {
  width: 2rem;
}
.footerH3 {
  color: white;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  max-width: fit-content;
}
.footer__li{
   

}
@media screen and (min-width: 700px) {
  .footerContainer {
    background-color: #05070a;
    height: 40vh;
    display: flex;
    flex-direction: row;

    justify-content: space-around;

    align-items: center; /* Centraliza os itens verticalmente */
  }

  .footer__ul {
    display: flex;
    flex-direction: column;


    max-width: fit-content;

    list-style: none;
    gap: 1rem;
  }

  .footer__li{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .footer__p {
    color: #d3d3d3;
  }
  .imgFooter {
    width: 2rem;
  }
  .footerH3 {
    color: white;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}
