
@media (max-width: 300px) {
  .MediewalLogoMobile {

  }

  .MobileHeader__icons {
   margin-right: 5rem;
   display: flex;
   align-items: center;
  }
}

@media (mim-width: 575px) {
  .desktopContainer{
    gap: 8rem;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  .ContainerHeader {
    display: none;
  }
  .desktopContainer {
    display: none;
  }
  .MobileHeader {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
  }

  .MobileHeader__Container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10rem;
  }

  .SearchBarContent {
    position: absolute;
    left: 10px;
  }

  .ContainerHeaderMobile {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #05070a;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 10svh;
 
    color: white;
  }

  .ContainerHeader {
    height: 10svh;
  }

  .MediewalLogoMobile {
    width: 25vw;
  }

  
  .MobileHeader__icons {
display: flex;
gap: .5rem;
   }
}

@media (min-width: 700px) {
  .MobileHeader {
    display: none;
  }

  .MobileHeader__Container {
    display: none;
  }
/* background-color: #2196f3; */
.ContainerHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #05070a;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  height: 18svh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: white;
  
}
body {
  margin: 0;
  padding: 0;
}



.DesktopIcons {
  display: flex;
  align-items: center;
}

.MediewalLogo {
  width: 12vw;
}

.DesktopContainer {
  display: flex;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; /* Valor alto para garantir que o modal fique na frente dos outros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.HeaderModalContent {
  position: absolute;
  right: 14rem;
  margin-top: 3rem;
  color: black;
  background-color: white;
  width: 20vw;
  height: 40vh;
  z-index: 7;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
}

.BellModalContent {
  position: absolute;
  right: 15rem;
  margin-top: 1.5rem;
  color: black;
  background-color: white;
  width: 20vw;
  height: 40vh;
  z-index: 7;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  color: white;
  overflow: auto;
  border: 1px solid #ccc;
}

.FirstContainer {
  border-bottom: 1px solid rgb(206, 212, 218);

  height: 5vh;
}
.h4 {
  color: rgb(33, 37, 41);
  margin-left: 1rem;
  font-family: "poppins";
  font-weight: 500;
}

.NavContainer {
  font-family: "poppins";
  font-weight: 400;
  width: 100%;
}

.desktopContainer {
  display: flex;
  margin-top: -2rem;
  gap: 5rem;
  z-index: 6;
}

.IconsDesktopContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: -6;
}

.li {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
}

.li:hover {
  background-color: #e9ecef;
}

.scroll {
  color: #05070a;
}

  
}
@media (min-width: 700px) and (orientation: portrait) {
  .MobileHeader {
    display: none;
  }
  .ContainerHeader {
    height: 8svh;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
}
@media (max-width: 834px) and (orientation: portrait) {
}

@media (max-width: 1024px) and (orientation: portrait) {
}


@media (min-width: 1559px)  {
  
}

.desktopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  


 

  width: 100%;
}