/* background-color: #2196f3; */
.ContainerHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #05070a;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  height: 18svh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: white;
}
body {
  margin: 0;
  padding: 0;
}

.desktopContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5rem;

  gap: 1.5rem;
  margin-left: 5rem;
  width: 100%;
}

.DesktopIcons{
  display: flex;
  align-items: center;
}

.MediewalLogo{
  width: 12vw;

}
@media (max-width: 600px) {
  
  .desktopContainer {
    display: none;
  }

  .ContainerHeader {
    height: 8svh;
  }

  .MobileHeader {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .MediewalLogo{
    width: 35vw;
    margin-right: 8rem;
    margin-top: 2rem;
  }
  .ContainerHeader{
    height: 10svh;

  }
}

@media (min-width: 700px) {
  .MobileHeader {
    display: none;
  }

 
 

}
@media (min-width: 700px) and (orientation: portrait){
  .MobileHeader {
    display: none;
  }
  .ContainerHeader{
    height: 8svh;

  }

 



}


.SearchBar {
  margin-right: 1.5rem;
  margin-left: 30rem;
  z-index: 9999;
}

@media (max-width: 800px) and (orientation: portrait) {
 
}
@media (max-width: 834px) and (orientation: portrait) {
  
}

@media (max-width: 1024px) and (orientation: portrait) {
 
}

.DesktopContainer{
  display: flex;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; /* Valor alto para garantir que o modal fique na frente dos outros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
}


.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}




.HeaderModalContent {
  position: absolute;
  right: 11.5rem;
  margin-top: 1.5rem;
  color: black;
  background-color: white;
  width: 20vw;
  height: 40vh;
  z-index: 7;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
}

.BellModalContent{
  position: absolute;
  right: 15rem;
  margin-top: 1.5rem;
  color: black;
  background-color: white;
  width: 20vw;
  height: 40vh;
  z-index: 7;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  color: white;
  overflow: auto;
  border: 1px solid #ccc;
}


.FirstContainer {
  border-bottom: 1px solid rgb(206, 212, 218);

  height: 5vh;
}
.h4 {
  color: rgb(33, 37, 41);
  margin-left: 1rem;
  font-family: "poppins";
  font-weight: 500;

}

.NavContainer {
    font-family: "poppins";
    font-weight: 400;
    width: 100%;


}

.desktopContainer{
  display: flex;
  gap: 1rem;
  z-index: 6;
}



.IconsDesktopContainer{
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: -6;

}


.li{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.5rem;
    padding: .3rem;
}


.li:hover{
    background-color: #E9ECEF;

}



.scroll{
  color: #05070a;
}