.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/* styles.css */

/* Custom styles for Pagination component */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-item {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
  }
  
  .page-link {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .page-link:hover {
    background-color: #f0f0f0;
  }
  
  .active-page {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
  