


@media (min-width: 720px) and (max-width: 1280px) {
    .arrowLeft{
margin-left: -2rem;
    }
    
  }

  @media (min-width: 603px) and (max-width: 1120px) and (orientation: landscape) {
    .arrowLeft{
        margin-left: -7rem;
            }
    .arrowRight{
        margin-right: -7rem;

    }
  }