/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
 
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
.loginStyle h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{

  font-family: 'Quicksand', sans-serif;
  color: #444;
}

.loginButton{
  margin-top: 30px;
  border-radius: 36px;
  background: #54D1E0;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  color: #053552;
  cursor: pointer;
}

input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 92%;
}
label{
  display: block;
  margin: 20px 0 10px;
}


h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}


.loginStyle{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;

}


.container{
  display: flex;
  text-align: left;
  margin-top: 8rem;
  color: #aaa;
  position: relative;

}


label{
  display: block;
  margin: 20px 0 10px;
}

input::placeholder{
  font-family: 'Quicksand', sans-serif;
  color: #636262;
}


.button{
  display: flex;
  align-items: center;
  gap: .3rem;
  cursor: pointer;
  margin-top: 4rem;
  color: black;
}

.buttonEmployeePage{
  display: flex;
  align-items: center;
  gap: .3rem;
  margin-top: 2rem;
  cursor: pointer;
}

@media screen  and (width <= 600px){
  .button{
    position: absolute;
    left: 10px;
    bottom: 10px;


  }
  
}

.button {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: black; /* Cor do texto do botão */
  cursor: pointer;
  font-family: "poppins";
  font-weight: 500;
}

.button:hover {
  color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}