/* General Styles */
.loginStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  height: 80vh;
  
}

.loginStyle__inputLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.loginStyle__inputLabel input {
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid gray;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #05070A;
  color: white;
  padding: 1rem;
  width: 90vw;
  border: none;
  margin: 2rem auto;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}

.loginStyle__links {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.loginStyle__links span {
  color: rgb(33, 33, 33);
}

.email,
.password {
  color: rgb(33, 33, 33);
}

/* Responsive Styles */
@media (max-width: 600px) {
  .loginButton {
    width: 30vw;
    padding: 1rem;
  }
  
  
}

@media (max-width: 820px) {
  .loginButton {
    width: 50vw;
    padding: 1rem;
  }
}

@media (min-width: 700px) {
  .loginButton {
    width: 25vw;
    padding: 0.8rem;
  }
  
}

@media (min-width: 1280px) {
  .loginStyle {
    margin-top: 2rem;
  }
}

@media (min-width: 1504px) {
  .loginStyle {
    margin-top: 5rem;
  }
}

@media (min-width: 1559px) {
  .loginStyle {
    margin-top: 5rem;
  }
}

.error-message {
  color: red;
  font-size: 0.875rem; /* Tamanho de fonte menor */
 
}
