.loginStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginStyle__inputLabel{
  display: flex;
  flex-direction: column;
}

.loginStyle__inputLabel input{
  padding: .8rem;
  border-radius: 5px;
  border: 1px solid gray;

}


.loginButton{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #05070A;
  color: white;
  padding: 1rem;
  width: 30vw;
  border: 0;
  margin-top: 2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.loginStyle__links{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.loginButton:hover :focus{

}