.formContainer{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.formContainer__h1{
    font-family: 'poppins', sans-serif;
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.label{
    display: flex;
    flex-direction: column;
}
.formContainer__input{
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid gray;
    width: 80vw;
  

  

}
.formContainer__label{
    font-family: 'poppins', sans-serif;

    
}


.formContainer__div{
display: flex;
flex-direction: column;
}
.formContainer__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05070A;
    color: white;
    padding: 1rem;
    width: 90vw;
    border: none;
    margin: 2rem auto;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
}


@media screen and (min-width: 700px) {
    .formContainer__input{
        padding: 0.8rem;
        border-radius: 5px;
        border: 1px solid gray;
        width: 30vw;
    
    }

    .formContainer__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05070A;
    color: white;
    padding: .8rem;
    width: 10vw;
    border: none;
    margin: 2rem auto;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    }
    .formContainer__form{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .formContainer__label{
        display: flex;
        flex-direction: column;
       
    }
    
}