
.productListContainer{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: -4rem;
  gap: 1rem;
  list-style-type: none;
}



  .productList__productcard{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  
  .productListContainer__productName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 15vw;
    color: rgb(114, 114, 114);
    font-size: 0.8rem;
  }
  
  .productListContainer__price{
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }
  
  .productListContainer__productName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 15vw;
    color: rgb(114, 114, 114);
    font-size: 0.8rem;
  }
  
  
  @media (min-width: 700px){
    .productListContainer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-left: 5rem;
    }

    .productListContainer__image{
        width: 15vw;
    }
}