/* Add this to your existing ProductDetails.css file */
.image-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-top: -55rem;

}

.navigation-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.arrow {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  width: 35px; /* Largura */
  height: 35px; /* Altura */
  
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 50%;
  transition: border-color 0.3s ease;
}

/* Atualize a classe para aplicar a borda à miniatura selecionada */
.thumbnail.selected {
  border: 2px solid #007bff; /* Adicione os estilos da borda desejados */
}



.dot-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #007bff;
}


.thumbnail-wrapper{
  display: flex;
  flex-direction: column;
}

/* Add this to your existing ProductDetails.css file */

.preview-thumbnail {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}

/* ... (existing styles) */
.color-preview{
  width: 30vw;
}

/* Adicione essas classes ao seu arquivo CSS */
.color-preview-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.color-preview-wrapper {
  display: flex;
  margin-right: 10px;
}

.color-preview {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 5px;
}

.color-preview.active {
  border-color: #007bff;
}
.secondCartClose{
  margin-top: -25rem;
}