.skeleton {
  width:50vw; /* Ajustado para 10% da largura da viewport */
  height: 50vw; /* Ajustado para 10% da largura da viewport */
  background-color: rgba(200, 200, 200, 0.2); /* Cinza mais forte */
  border-radius: 50%;
  animation: pulse 1.5s ease-in-out infinite;
  aspect-ratio: 1/1;
}

@keyframes pulse {
  0% {
    background-color: rgba(200, 200, 200, 0.2); /* Cinza inicial */
  }
  50% {
    background-color: rgba(150, 150, 150, 0.2); /* Cinza intermediário */
  }
  100% {
    background-color: rgba(200, 200, 200, 0.2); /* Cinza final */
  }
}

.skeletonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Cria colunas automáticas com mínimo de 200px e máximo de 1fr */
  gap: 10px; /* Espaçamento entre as bolinhas */
  justify-content: center; /* Centraliza as bolinhas horizontalmente */
  padding: 20px; /* Espaçamento interno do container */
}

@media screen and ( 600px >= width ) {
  .skeletonContainer{
    display: none;
  }


}