/* Slider.css */

.slider {
  position: relative;
  width: 100%;
  overflow: hidden; /* Garante que apenas uma imagem seja visível */
}

.slider-image {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave entre as imagens */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
}

.slider-button:focus {
  outline: none;
}

.categoriesImageStyle {
  object-fit: cover;

  border-radius: 8px;
  margin-top: 6rem;
  width: 100vw;
  height: 80vh;
  max-width: calc(100% - 24px);
  max-height: none;
  box-sizing: border-box;
}
