.image{
    width:  min(20%, 700px);
   
}


/* Adicione estilos para o container da paginação */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  /* Estilos para os itens de página */
  .pagination li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }
  
  /* Estilos para o item de página ativa */
  .pagination li.active {
    font-weight: bold;
  }
  
  /* Estilos para os links de página (anterior, próximo, ...) */
  .pagination a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Estilos para o link de página ativa */
  .pagination a.active {
    background-color: #007bff;
    color: #fff;
  }
  