/* SearchInput.css */

.search-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px;
    cursor: pointer;
  }
  
  /* Ícone de lupa cor branca */
  button i {
    color: white;
  }
  
  /* Adicione estilos de hover para feedback visual */
  button:hover {
    background-color: #0056b3;
  }
  

  /* SearchInput.css */

.search-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  input {
    padding-right: 30px; /* Adapte conforme necessário para a largura do ícone */
  }
  
  .search-icon {
    position: absolute;
    right: 5px; /* Ajuste conforme necessário para a posição do ícone dentro do input */
    cursor: pointer;
    color: rgb(114, 114, 114)
  }
  

  