/* Estilos do Slider */
.image-container {
  position: relative;
  text-align: center;
  margin-top: 3%;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.3s;
  border: 1px solid white;
}

.dot.active {
  background-color: black;
  transform: scale(1.5);
  opacity: 0.7;
}

/* Adicionando estilos para setas */
.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.arrow {
  color: black;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #fff7f7;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.arrow:hover {
  color: lightgrey;
}

.arrow:first-child {
  position: absolute;
  left: 0;
  padding-left: 0.8rem;
}

.arrow:last-child {
  position: absolute;
  right: 0;
}
