*{
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
=======
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  color: white; /* ou qualquer cor desejada */
  text-decoration: none; /* para remover o sublinhado padrão */
}

.cart{
  text-decoration: none;
>>>>>>> 36eafa1bcb47508ef411a0d9302fbf96a359dd99
}