*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}


:root{
    --spanish-gray:hsl(0, 0%, 60%);
    --sonic-silver:hsl(0, 0%, 47%);
    --eerie-black:hsl(0, 0%, 13%);
    --salmon-pink:hsl(353, 100%, 78%);
    --sandy-broan:hsl(29, 98%, 65%);
    --bittersweet:hsl(0, 100%, 70%);
    --ocean-green:hsl(152, 51%, 52%);
    --gray:hsl(0, 0%, 33%);
    --cultured:hsl(0, 0, 93%);
    --white:hsl(0, 100%, 100%);
    --onyx:hsl(0, 0%, 27%);
    

    --border-radius-md:10px;
    --border-radius-sm:5px;

    --transition-timing: 0.2s ease;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
button{
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}


img, ion-icon, button, a{
    display: block;
}

span{
    display: inline-block;
}

html{
    font-family: "poppins", sans-serif;
    overscroll-behavior: contain;
}

input{
    display: block;
    width: 100%;
    font: inherit;
}

input::placeholder{
    font: inherit;
}
body{
    background-color: var(--white);
}

body::-webkit-scrollbar{
    width: 15px;
}

body::-webkit-scrollbar-track{
    background-color: var(--white);
    border: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb{
    background: hsl(0, 0%, 80%);
    border: 2px solid var(--white);
    border-radius: 10px;
}


body::-webkit-scrollbar-thumb:hover{
    background: hsl(0, 0%, 70%);
}